/* total */
.total {
	background-color: $negative;
	padding-right: 24px;
	padding-left: 19px;
	
	
	.table {
		&__row {
			padding: 14px 13px 13px 14px;
		}
		&__cell {
			color: $bg-primary;
			font-family: $font-secondary-700;
			font-size: 14px;
			font-weight: 700;
			line-height: 15.69px;
			text-transform: uppercase;
			
			@media screen and(min-width: 768px) and(max-width: 991px){
				font-size: 12px;
			}
			@media screen and(max-width: 767px){
				font-size: 12px;
			}
			
			&:nth-child(1){
				padding-left: 0;
			}
			&:nth-child(2){
				padding-left: 2px;
			}
			&:nth-child(3){
				margin-left: -2px;
			}
			&:nth-child(4){
				padding-left: 1px;
			}
			&:nth-child(5){
				padding-left: 2px;
			}
			&:nth-child(6){
				margin-left: 0;
			}
		}
	}
}
/* total end */