* {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;
	
	outline    : none !important;
}

body {
	min-width        : 768px;
	background-color : $color-grey-100;
}

img {
	display    : block;
	max-width  : 100%;
	max-height : 100%;
	object-fit : cover;
}

a,
button {
	cursor           : pointer;
	background-color : transparent;
	text-decoration  : none;
	color            : inherit;
}

button {
	display     : inline-block;
	border      : 0;
	font-family : inherit;
}

ul, ol {
	margin          : 0;
	padding         : 0;
	list-style-type : none;
}

::selection {
	color      : #5460f1;
	background : #fff;
}