/*! Typebase.less v0.1.0 | MIT License */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	/* Change heading typefaces here */
	font-family: sans-serif;
	line-height: 1.5rem;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size : 14px;
}
/* Copy & Lists */
p,
blockquote {
	font-size : 14px;
	line-height: 1.5;
}