/* calendar */
.calendar {
	position: relative;
	
	&__filter {
		white-space: nowrap;
		font-size: 0;
		margin-top: -1px;
	}
	&__text {
		margin-top: -3px;
		display: inline-block;
		vertical-align: middle;
		color: $input-text;
		font-family: $font-basic;
		font-size: 16px;
		font-weight: 400;
		line-height: 15.69px;
	}
	&__limit {
		margin-top: -3px;
		display: inline-block;
		vertical-align: middle;
		color: $info;
		font-family: $font-basic-900;
		font-size: 16px;
		font-weight: 400;
		line-height: 15.69px;
		padding-left: 6px;
		padding-right: 7px;
	}
	&__link {
		vertical-align: middle;
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
		box-shadow: 0 9px 21px rgba($shadow-basic-dark, 0.15);
		border-radius: 4px;
		background-color: $negative;
		
		i.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -8px;
			margin-top: -5px;
			font-size: 10px;
			color: $info;
			transform: rotate(180deg);
			transition: transform .1s ease-in-out;
		}
		
	}
	&__link._js-arrow-up {
		i.icon {
			transform: rotate(0deg);
		}
	}
	&__datepicker {
		position: absolute;
		top: -webkit-calc(100% + 10px);
		top: calc(100% + 10px);
		right: 28px;
		z-index: 10;
		display: none;
		-webkit-animation: fadeOut .3s;
		animation: fadeOut .3s;
		
		&._js-datepicker-open {
			display: block;
			-webkit-animation: fadeIn .3s;
			animation: fadeIn .3s;
		}
	}
}
/* calendar end */