/* checkbox */
.checkbox-list {
	ul {
		li + li {
			margin-top: 7px;
		}
	}
}
.checkbox {
	display: inline-block;
	white-space: nowrap;
	font-size: 0;
	
	input {
		position: absolute;
		left: -9999px;
		visibility: hidden;
		opacity: 0;
		height: 0;
		
		&:checked + i {
			border-color: $color-wave;
			background-color: $color-wave;
		}
		&:checked + i:after {
			opacity: 1;
		}
	}
	
	i {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid $border;
		width: 24px;
		height: 24px;
		border-radius: 4px;
		margin-right: 9px;
		transition: border-color .25s ease-in-out,
		background-color .25s ease-in-out;
		
		&:after {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			background-image: url('../../../img/svg/ok.png');
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: contain;
			width: 12px;
			height: 10px;
			opacity: 0;
			transition: opacity .25s ease-in-out;
		}
	}
	span {
		vertical-align: middle;
		font-family: "SegoeUI", sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		color: $input-text;
		user-select: none;
		letter-spacing: .3px;
	}
}
/* checkbox end */