/* select */
.select {
	width: 100%;
	max-width: 200px;
	height: 34px;
	cursor: pointer;
	position: relative;
	border-radius: 4px;
	//border: 1px solid #e8e7f7;
	border: 1px solid $border;
	transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	background-color: $negative;
	
	p {
		display: flex;
		align-items: center;
		padding: 0 40px 0 10px;
		height: 100%;
		font-size: 0;
		line-height: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		span {
			font-family: "SegoeUI", sans-serif;
			font-size: 12px;
			font-weight: 400;
			color: $input-text;
			line-height: 20px;
		}
		&::after {
			position: absolute;
			content: '';
			right: 10px;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
			z-index: 2;
			background-image: url('../../../img/svg/arr.png');
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: contain;
			width: 9px;
			height: 6px;
			transition: transform 0.25s ease-in-out;
		}
		
		&.active::after  {
			transform: translateY(-50%) rotate(0deg);
		}
	}
	
	.ul {
		overflow-y: auto;
		max-height: 150px;
		list-style: none;
		display: none;
		position: absolute;
		left: -1px;
		right: -1px;
		top: 100%;
		z-index: 1071;
		background-color: $negative;
		border-radius: 0 0 2px 2px;
		-webkit-border-radius: 0 0 2px 2px;
		-moz-border-radius: 0 0 2px 2px;
		border-left: 1px solid rgba(240, 244, 247, 1);
		border-right: 1px solid rgba(240, 244, 247, 1);
		border-bottom: 1px solid rgba(240, 244, 247, 1);
		border-top: 1px solid rgba(240, 244, 247, 1);
		transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		
		.li {
			list-style: none;
			position: relative;
			padding: 10px 10px;
			font-size: 0;
			
			span {
				vertical-align: middle;
				font-family: "SegoeUI", sans-serif;
				font-size: 12px;
				font-weight: 400;
				color: $input-text;
				line-height: 20px;
				transition: color .25s ease-in-out;
			}
			
			&:not(:last-child) {
				&:after {
					position: absolute;
					content: '';
					top: 100%;
					left: 10px;
					right: 10px;
					height: 1px;
					z-index: 1;
					background-color: rgba(242, 245, 247, 1);
				}
			}
			
			&:hover span {
				color: $info;
			}
		}
	}
	
	&:hover {
		border-color: $border;
	}
	&:hover .ul {
		border-left-color: $border;
		border-right-color: $border;
		border-bottom-color: $border;
		border-top-color: $border;
	}
}
/* select end */