/* app main */
.app {
	position: relative;
	margin: auto;
	height: 100vh;
	box-shadow: 0 -9px 21px rgba($shadow-basic-dark, 0.07);
}
/* app main end */

/* main */
.main {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 64px 8px 98px 240px;
	background-color: $bg-lighten;
	transition: padding-left .25s ease-in-out;
	
	._js-open-menu & {
		padding-left: 80px;
	}
	
	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-shrink: 0;
		padding: 20px 15px 18px 22px;
	}
	&__wrap-table {
		flex-grow: 1;
		position: relative;
		height: 100%;
		
		.table {
			position: absolute;
			top: 0;
			right: 0;
			left: 16px;
			bottom: 0;
		}
	}
	&__sorting {
		padding: 0 15px 18px 18px;
		flex-shrink: 0;
		margin-left: -1px;
		display: flex;
		
		.btn {
			&:not(:last-child){
				margin-right: 4px;
			}
		}
	}
}
/* main end */