/* sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
	width: 240px;
	//border: 1px solid #111e3a;
	background-color: $bg-basic-layout;
	transition: width .25s ease-in-out 0s;
	
	._js-open-menu & {
		width: 80px;
	}
	
	&__top {
		flex-shrink: 0;
		flex-basis: 64px;
		height: 64px;
		background-color: $bg-basic-layout;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 23px;
		padding-right: 18px;
		border-right: 1px solid $border-primary;
		
		.logo {
			flex-shrink: 0;
			display: block;
			margin-top: -4px;
			overflow: hidden;
			width: 147px;
			transition: width .25s ease-in-out;
			
			img {
				width: 147px;
				object-fit: none;
				max-width: none;
			}
			
			._js-open-menu & {
				width: 35px;
			}
		}
		
		.btn-menu {
			flex-shrink: 0;
			position: relative;
			right: 0;
			width: 18px;
			height: 14px;
			margin-top: -5px;
			transition: right .25s ease-in-out;
			
			._js-open-menu & {
				right: -50px;
			}
			
			i.icon {
				font-size: 14px;
				color: $color-grey-300;
			}
			
			&:hover {
				i.icon {
					color: $negative;
				}
			}
		}
	}
	&__scoreboard {
		flex-shrink: 0;
		padding-top: 12px;
	}
	&__list-group {
		flex-grow: 1;
		padding-top: 15px;
		overflow-y: auto;
		
		._js-open-menu & {
			overflow: visible;
		}
		
		.mCSB_inside > .mCSB_container {
			margin-right: 0;
		}
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			background-color: $bg-primary;
		}
		.mCSB_scrollTools .mCSB_draggerRail {
			background-color: transparent;
		}
		@media screen and (max-height: 800px){
			padding-top: 10px;
		}
	}
}
/* sidebar end */