$color-blue-dark-300: #12213e;
$color-blue-dark-200: #162048;
$color-blue-dark-100: #1b2e58;
$color-white: #ffffff;
$color-white-100: #f2f8fa;
$color-black: #000000;
$color-grey-650: #2c3b59;
$color-grey-600: #32415e;
$color-grey-500: #58666e;
$color-grey-400: #8898a0;
$color-grey-300: #a2a9b8;
$color-grey-250: #c5c3d8;
$color-grey-200: #dedede;
$color-grey-150: #e8e7f7;
$color-grey-100: #eeeeee;
$color-green: #0dbc00;
$color-wave: #02c3c8;
$color-wave-200: #02959a;
$color-red: #f33155;
$color-yellow: #ffc107;

$danger: $color-red;
$danger: $danger !default;

$success: $color-green;
$success: $success !default;

$secondary: $color-grey-600;
$secondary: $secondary !default;

$warning: $color-yellow;
$warning: $warning !default;

$info: $color-wave;
$info: $info !default;

$info-hover: $color-wave-200;
$info-hover: $light-hover !default;

$light: $color-grey-400;
$light: $light !default;

$dark: $color-black;
$dark: $dark !default;

$negative: $color-white;
$negative: $negative !default;

$bg-basic-layout: $color-blue-dark-100;
$bg-basic-layout: $bg-basic-layout !default;

$bg-primary: $color-blue-dark-300;
$bg-primary: $bg-primary !default;

$bg-lighten: $color-grey-100;
$bg-lighten: $bg-lighten !default;

$shadow-basic-dark: $color-blue-dark-200;
$shadow-basic-dark: $shadow-basic-dark !default;

$border: $color-grey-200;
$border: $border !default;

$border-primary: $color-blue-dark-300;
$border-primary: $bg-primary !default;

$negative-mud: $color-white-100;
$negative-mud: $negative-mud !default;

$input-text: $color-grey-500;
$input-text: $input-text !default;

$input-text-light: $color-grey-300;
$input-text-light: $input-text-light !default;