/* filter */
.filter {
	position: relative;
	z-index: 3;
	
	&__btn {
		font-size : 0;
	}
	&__text {
		position: relative;
		z-index: 11;
		color: $light;
		font-family: $font-basic-900;
		font-size: 14px;
		font-weight: 400;
		line-height: 15.69px;
		padding-right: 13px;
	}
	&__icon {
		width : 24px;
		height : 24px;
		position: relative;
		z-index: 11;
		color: $light;
		font-size: 14px;
		margin-right: -2px;
		margin-left : 10px;
		display : flex;
		align-items: center;
		justify-content: center;
		
		&.icon-plus {
			font-size: 20px;
			transform: rotate(45deg);
		}
	}
}
/* filter end */

/* filter-drop */
.filter-drop {
	padding-top: 40px;
	padding-bottom: 81px;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 1017px;
	max-width: 100vw;
	background-color: $negative;
	border-radius: 4px;
	height: 82vh;
	box-shadow: 0 2px 10px rgba($shadow-basic-dark, 0.2);
	transition: width .25s ease-in-out;
	
	@media screen and(max-width: 991px){
		height : 75vh;
		padding-bottom : 74px;
	}
	
	&__head {
		background-color: $negative;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		padding-left: 24px;
		box-shadow: 0 2px 10px rgba($shadow-basic-dark, 0.1);
	}
	&__main {
		position: absolute;
		top: 40px;
		bottom: 81px;
		left: 0;
		right: 0;
		overflow-y: auto;
		max-height: 744px;
		padding: 10px 2px 10px 24px;
		
		.mCSB_inside > .mCSB_container {
			margin-right: 16px;
			padding-bottom: 45px;
		}
		.mCSB_scrollTools {
			opacity: 1;
			width: 6px;
		}
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			border-radius: 3px;
			background-color: $info;
			width: 100%;
		}
		.mCSB_scrollTools .mCSB_draggerRail {
			background-color: transparent;
		}
	}
	&__btn {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background-color: $negative;
		text-align: center;
		padding: 24px 0;
		border-top: 1px solid $border;
		
		@media screen and(max-width: 991px){
			padding: 20px 0;
		}
	}
	&-border-right {
		border-right: 1px solid $border;
	}
	&__subtitle {
		width: 100%;
		font-family: "SegoeUI", sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 16px;
		color: $input-text;
		margin-bottom: 15px;
		flex-shrink: 0;
	}
	&__time {
		font-size: 0;
		
		span {
			font-family: "SegoeUI", sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 16px;
			color: $input-text;
			margin-right: 11px;
			letter-spacing: -.15px;
		}
		i.icon {
			color: $info;
			font-size: 8px;
			transform: rotate(180deg);
		}
	}
	&__toggle {
		position: absolute;
		bottom: 24px;
		left: 12.8%;
		z-index: 1;
		font-size: 0;
		
		span {
			vertical-align: middle;
			font-family: "SegoeUI", sans-serif;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			color: $input-text;
			padding-right: 15px;
		}
		i {
			margin-top: 4px;
			color: $info;
			font-size: 8px;
			vertical-align: middle;
		}
	}
	&__toggle.active {
		i {
			transform: rotate(180deg);
			margin-top: -1px;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		margin-right: -32px;
		
		& + & {
			margin-top: 34px;
		}
	}
	&__col {
		display: flex;
		flex-wrap: wrap;
		
		&-narrow {
			flex: 1 0 30%;
			max-width: 30%;
			
			@media screen and(min-width: 768px) and(max-width: 1330px){
				flex: 1 0 45%;
				max-width: 45%;
			}
			@media screen and(max-width: 991px){
				display: block;
				max-width: 45%;
			}
		}
		&-wide {
			flex: 1 0 70%;
			max-width: 70%;
			padding-left: 32px;
			
			@media screen and(min-width: 768px) and(max-width: 1330px){
				flex: 1 0 55%;
				max-width: 55%;
				padding-left: 2%;
			}
			@media screen and(max-width: 991px){
				display: block;
				max-width: 55%;
				padding-left: 2%;
			}
		}
	}
	&__checkbox-list {
		flex: 1 0 50%;
		max-width: 50%;
		flex-grow: 1;
		height: 100%;
		
		@media screen and(max-width: 991px){
			max-width: none;
			height: auto;
		}
	}
	&__checkbox-list + &__checkbox-list {
		@media screen and(max-width: 991px){
			margin-top: 7px;
		}
	}
	&__select-list {
		padding-right: 32px;
		margin-bottom: 20px;
		
		.select, .input {
			max-width: 200px;
			width : 100%;
		}
		
		ul {
			li + li {
				margin-top: 14px;
			}
		}
		
		@media screen and(min-width: 768px) and(max-width: 1330px){
			padding-right: 2%;
			
			&:last-child {
				padding-right: 0;
			}
		}
		@media screen and(max-width: 767px){
			padding-right: 2%;
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
}
/* filter-drop end */