/* list-group */
.list-group {
	&__group {
		padding-bottom: 10px;
		
		&:not(:last-child) {
			position: relative;
			margin-bottom: 14px;
			
			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 31px;
				right: 23px;
				height: 1px;
				background-color: $secondary;
				z-index: 1;
			}
		}
	}
	
	&__row {
		position: relative;
	}
	
	&__item {
		display: block;
		position: relative;
		padding: 14px 17px 15px 63px;
		
		&:before {
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			left: 0;
			width: 0;
			background-color: $info;
			transition: width .25s ease-in-out;
		}
		
		&.selected {
			background-color: $bg-primary;
			
			&:before {
				width: 4px;
			}
			
			.list-group__icon {
				color: $info;
			}
			.list-group__text {
				color: $info;
				letter-spacing: 0.14px;
			}
		}
		
		&:hover {
			.list-group__icon {
				color: $info;
				
				&.fa-usd {
					color: $secondary;
					background-color: $info;
				}
			}
			.list-group__text {
				color: $info;
			}
		}
	}
	
	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 29px;
		color: $negative;
		z-index: 1;
		transition: color .25s ease-in-out;
		
		&.fa-table {
			font-size: 18px;
		}
		&.fa-line-chart {
			font-size: 18px;
		}
		&.fa-usd {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $secondary;
			background-color: $negative;
			border-radius: 50%;
			font-size: 14px;
			width: 20px;
			height: 20px;
			transition: color .25s ease-in-out, background-color .25s ease-in-out;
		}
		&.fa-check {
			font-size: 18px;
		}
		&.fa-file {
			font-size: 18px;
		}
	}
	
	&__list {
		&-icon-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			color: $info;
			font-size: 13px;
			transition: opacity .25s ease-in-out,
			visibility .25s ease-in-out;
			
			._js-open-menu & {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&__text {
		opacity: 1;
		visibility: visible;
		color: $negative;
		font-family: $font-basic;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.14px;
		transition: color .25s ease-in-out,
		opacity .25s ease-in-out,
		visibility .25s ease-in-out;
		
		._js-open-menu & {
			opacity: 0;
			visibility: hidden;
		}
	}
	&__notice {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 37px;
		display: block;
		border-radius: 4px;
		background-color: $info;
		opacity: 0.8;
		color: $bg-primary;
		font-family: $font-basic-700;
		font-size: 12px;
		font-weight: 700;
		line-height: 1;
		padding: 5px 3px 7px 2px;
		transition: right .25s ease-in-out,
		font-size .25s ease-in-out,
		top .25s ease-in-out,
		padding .25s ease-in-out;
		
		._js-open-menu & {
			top: 35%;
			right: 8px;
			font-size: 10px;
			padding: 5px 2px 5px 2px;
		}
	}
	&__drop {
		display: none;
		background-color: $bg-primary;
		padding: 10px 0;
		transition: background-color .25s ease-in-out;
		
		._js-open-menu & {
			position: absolute;
			left: 100%;
			top: 0;
			width: 240px;
			z-index: 1;
			padding: 20px 0;
			transition: left .25s ease-in-out;
		}
	}
	&__list._js-drop {
		background-color: $bg-primary;
		
		&.list-group__item:before {
			width: 4px;
		}
		& + .list-group__drop:before {
			width: 4px;
		}
		
		.list-group__list-icon-arrow {
			transform: rotate(90deg) translateY(-50%);
			margin-right: 6px;
			margin-top: -4px;
		}
	}
}
/* list-group end */

/* sublist-group */
.sublist-group {
	&__title {
		display: none;
		position: relative;
		color: $negative;
		font-family: $font-basic;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.14px;
		padding: 0 33px 15px 56px;
		margin-bottom: 15px;
		
		&:after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 56px;
			right: 33px;
			border-bottom: 1px solid $secondary;
		}
		
		._js-open-menu & {
			display: block;
		}
	}
	
	&__row {
		padding-left: 63px;
		
		._js-open-menu & {
			padding-left: 56px;
		}
		
		&:not(:last-child){
			margin-bottom: 19px;
		}
	}
	
	&__link {
		color: $negative;
		font-family: $font-basic;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.14px;
		transition: color .25s ease-in-out;
		
		&:hover {
			color: $info;
		}
	}
	
	&:before {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		width: 4px;
		background-color: $info;
		transition: width .25s ease-in-out;
		
		._js-open-menu & {
			display: none;
		}
	}
}
/* end sublist-group */