/* table */
.table {
	&__scroll {
		overflow-y: auto;
		height: 100%;
		
		.mCSB_inside > .mCSB_container {
			margin-right: 16px;
		}
		.mCustomScrollBox {
			padding-bottom: 45px;
		}
		.mCSB_scrollTools {
			opacity: 1;
			width: 6px;
			bottom : 46px;
		}
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			border-radius: 3px;
			background-color: $info;
			width: 100%;
		}
		.mCSB_scrollTools .mCSB_draggerRail {
			background-color: transparent;
		}
	}
	
	&__head {
		flex-shrink: 0;
		padding-bottom: 14px;
		padding-right: 16px;
		
		.table__row {
			background-color: $bg-lighten;
			align-items: flex-end;
			padding: 0 15px;
		}
		
		.table__cell {
			color: $input-text-light;
			
			&:nth-child(1){
				padding-left: 0;
			}
			&:nth-child(2){
				padding-left: 2px;
			}
			&:nth-child(3){
				margin-left: -1px;
			}
			&:nth-child(4){
				padding-left: 1px;
			}
			&:nth-child(5){
				padding-left: 1px;
			}
			&:nth-child(6){
				margin-left: -1px;
			}
		}
	}
	
	&__body {
		
		& + & {
			margin-top: 8px;
		}
		.table__row {
			padding: 20px 15px;
		}
		.table__cell {
			color: $input-text;
		}
		
		.table__cell {
			&:nth-child(1){
				padding-left: 0;
			}
			&:nth-child(2){
				padding-left: 4px;
			}
			&:nth-child(3){
				margin-left: -1px;
			}
			&:nth-child(4){
				padding-left: 2px;
			}
			&:nth-child(5){
				padding-left: 3px;
			}
			&:nth-child(6){
				padding-left: 0;
			}
		}
	}
	
	&__subtitle {
		position: relative;
		padding-top: 12px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: -5px;
		background-color: $negative;
		
		&:before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 15px;
			right: 0;
			background-color: rgba($dark, .1);
			height: 1px;
			z-index: 1;
		}
	}
	
	&__text-line {
		position: relative;
		z-index: 1;
		padding-right: 12px;
		color: $input-text;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		font-family: $font-basic-700;
		background-color: $negative;
	}
	
	&__row {
		display: flex;
		border-radius: 4px;
		background-color: $negative;
		
		&:not(:last-child){
			margin-bottom: 1px;
		}
	}
	&__cell {
		flex-shrink: 0;
		font-family: $font-basic;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		
		&:nth-child(1){
			width: 18%;
		}
		&:nth-child(2){
			width: 18%;
		}
		&:nth-child(3){
			width: 17%;
		}
		&:nth-child(4){
			width: 19.5%;
		}
		&:nth-child(5){
			width: 18%;
		}
		&:nth-child(6){
			width: 9.5%;
		}
		
		&_bold {
			font-weight: 700;
		}
		
		&:last-child {
			flex-shrink: 1.25;
		}
	}
}
/* table end */