/* user */
.user {
	position    : relative;
	display     : flex;
	align-items : center;
	
	&__avatar {
		margin-right : 18px;
		margin-top   : -2px;
		
	}
	&__img {
		width         : 30px;
		height        : 30px;
		border-radius : 50%;
		overflow      : hidden;
	}
	&__select {
		position      : relative;
		padding-right : 32px;
		cursor        : pointer;
		margin-top    : -1px;
		
		&--arrow {
			position   : absolute;
			top        : 50%;
			transform  : rotate(0deg) translateY(-50%);
			right      : 0;
			font-size  : 13px;
			color      : $negative;
			margin-top : 1px;
			transition : color .25s ease-in-out;
			
			&._drop {
				transform  : rotate(180deg) translateY(-50%);
				margin-top : -12px;
				color      : $info;
			}
		}
	}
	&__name {
		display        : block;
		color          : $negative;
		font-family    : $font-basic;
		font-size      : 13px;
		font-weight    : 700;
		line-height    : 1;
		letter-spacing : .4px;
	}
	&__status {
		display     : block;
		color       : rgba($negative, .6);
		font-family : $font-basic-900;
		font-size   : 13px;
		font-weight : 400;
		line-height : 1;
	}
	&__drop {
		position         : absolute;
		top              : 100%;
		left             : 0;
		right            : 0;
		opacity          : 0;
		visibility       : hidden;
		background-color : $bg-primary;
		text-align       : center;
		z-index          : 1;
		border-radius    : 0 0 4px 4px;
		box-shadow       : 0 3px 5px rgba($shadow-basic-dark, 0.3);
		transform        : translateY(10px);
		transition       : opacity .25s ease-in-out,
		visibility .25s ease-in-out,
		transform .25s ease-in-out;
		
		&._drop {
			opacity    : 1;
			visibility : visible;
			transform  : translateY(0);
		}
	}
}

/* user end */

/* drop-list */
.drop-list {
	&__row {
		&:not(:last-child) {
			position : relative;
			
			&:after {
				position         : absolute;
				content          : '';
				bottom           : 0;
				left             : 0;
				right            : 0;
				height           : 1px;
				background-color : $secondary;
				z-index          : 1;
			}
		}
	}
	&__link {
		display        : block;
		padding        : 20px 0;
		color          : $negative;
		font-family    : "SegoeUI", sans-serif;
		font-size      : 13px;
		font-weight    : 700;
		line-height    : 1;
		letter-spacing : .4px;
		transition     : color .25s ease-in-out;
		
		&:hover {
			color : $info;
		}
	}
}

/* end drop-list */